*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: green;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: x-large;
    padding: 10px;
    font-family: "Edu NSW ACT Cursive", cursive;
}

#hamburger{
    all:unset;
    background: none;
    border: none;
    cursor: pointer;
}

#nav{
    display: none;
}

#nav.show{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}

main{
    max-width: 800px;
    position: relative;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

main h1{
    text-align: left;
    font-size: 3rem;
    padding: 15px;
    color: brown;
}

main h2{
    text-align: left;
    font-size: xx-large;
    padding: 20px;
    color: brown;
}

main p{
    text-align: left;
    font-size: x-large;
    padding: 30px;
}

footer{
    background-color: green;
    font-family: "Edu NSW ACT Cursive", cursive;
}

footer p, #refer{
    all: unset;
    color: white;
    text-align: center;
    font-size: x-large;
    display: block;
    padding: 10px;
}

#refer{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    #hamburger{
        display: none;
    }
    #nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 70px;
    }
    main{
        max-width: none;
    }
}