h2 {
    font-family: "Bebas Neue";
    font-size: 40px;
    padding: 10px;
    color: #2E7D32;
}

p {
    font-family: "Roboto";
    font-size: 20px;
    padding: 10px;
    color: #3E2723;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}