table,
tr,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 0 auto;
}

thead tr th {
    background-color: black;
    color: white;
}

thead tr:nth-last-child(1) th{
    background-color: gray;
}

#blank{
    background-color: black;
}

caption {
    caption-side: bottom;
    margin-top: 5px;
}