body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 20px;
}

header {
    grid-area: header;
    background: #087E8B;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

header span {
    display: block;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

nav {
    background: black;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    text-decoration: overline;
    background-color: #087E8B;
}

main {
    grid-area: main;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    font-family: "Roboto", sans-serif;;
}

main h1 {
    position: absolute;
    z-index: 1;
    top: 370px;
    left: 450px;
    text-decoration: dotted;
    color: black;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.card h2 {
    background-color: #087E8B;
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.card img {
    max-width: 200px;
    height: auto;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 15px;
}

.card p {
    font-size: 17px;
    line-height: 1.75;
    padding: 0 15px;
    max-width: 70%;
}

.row {
    display: flex;
    align-items: center;
}

hr {
    border: none;
    border-top: 1px solid gray;
    margin: 30px;
}

.links li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 1.75;
    color: black;
    border-radius: 5px;
}

.links li a:hover {
    background-color: #087E8B;
}

footer {
    grid-area: footer;
    background: #087E8B;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

footer p {
    font-weight: bold;
    font-size: 20px;
    line-height: 0.5;
}